
/*zmienne*/
:root {
    --dark-color:  #000000;
    --black-color: #212121;
    --main-color:  #2196F3; 
    --grey-color:  #757575;
    --adress-color: rgba(255, 255, 255, 0.6);
    --button_text-color: #FFFFFF;
}

body { 
font-family: "Roboto", sans-serif; 
color: var(--black-color);
font-size: 400;
}

.container{
width: 1200px;
margin: auto;
}


.headerWrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-bottom-style: solid;
border-bottom-width: 1px;
/* margin-left: 5%; */
}

nav ul{
display: flex;
}

nav ul li{
padding-left: 15%;
list-style-type: none;
}

.headerContact{
width: 25%;
}

.headerContact ul {
display: flex;
padding-left: 15%;
list-style-type: none;
justify-content: space-between;

}

.headerContact ul li{
font-family: normal;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;



}
header{
	display:block;
	
} 

.headerContact ul li a{
	text-decoration: none;
	color: var(--grey-color);
}

.headerContact ul li:hover{
text-decoration: underline;
}

.TitleButtonWrapper {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--button_text-color);
    background-color: #2f303a;
    text-decoration: none;
}




.buttons{
	width:50%;
	margin:auto;

}

.buttons ul{
	display:flex;
	list-style-type: none;
	justify-content: space-between;
	text-align: center;
	 align-items:center;
	
	}

.buttons ul li{
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-align: center;
	text-decoration: none;
	background-color:pink;

	
}



.interactive-white{
background-color: #F5F4FA;
}

.interactive-white:hover{
background-color: violet;
}

.interactive-blue{
background-color: var(--main-color)
}

.interactive-blue:hover{
background-color: grey;
}


.images ul{
	display:flex;
	flex-wrap: wrap;
}

.images ul li{
	list-style-type: none;
	
	width:30%;
}

.images ul li img{
	padding:10%;
}


footer{
	background-color:#2F303A;
	padding:15px;
	
	}
	
footer a {
	display:block;
	
}

.logoFooter{
	height:20px;
	}

.logoName1{
font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1,19;
letter-spacing: 0.03em;
text-align: left;
color: var(--main-color);
text-decoration: none;
float:left;
}

.logoFooter1{
 font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--main-color);
    text-decoration: none;
    float:left;
    }   
	
.logoFooter2{
font-family: 'Raleway';
font-size: 26px;
font-weight: 400;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
color: var(--button_text-color);
text-decoration: none;
float:left;
}

.logoName2{
font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1,19;
letter-spacing: 0.03em;
text-align: left;
color: var(--dark-color);
text-decoration: none;
float:left;
}


.logo {
margin-left: 5%;

}


/* .logo3{
   
    } */


.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-color);
    text-decoration: none;
}

.title2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-color);
    text-decoration: none;
}


.button{
font-family: inherit;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: center;
color: var(--black-color);
text-decoration: none;
}




.button3{
font-family: inherit;
font-size: 16px;
font-weight: 700;
line-height: 1.875;
letter-spacing: 0.02em;
text-align: center;
color: var(--button_text-color);
background: var(--main-color);
text-decoration: none;
}



footer address p{
font-family: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--adress-color);
text-decoration: none;
}

address ul li a{
font-family: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
/* color: var(--adress-color); */
color:white;
text-decoration: underline;

}
address ul li {
list-style-type: none;
}
.adress4{
font-family: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--adress-color);
text-decoration: none;
}

.h3 {
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
text-align: left;
color: var(--black-color);
text-decoration: none;
}

.h3_v2 
{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--black-color);
    text-decoration: none;

}

.name{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--black-color);
    text-decoration: none;
}

.work{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: left;
   color: var(--grey-color);
   text-decoration: none;
}

.p{
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;
color: var(--grey-color);
text-decoration: none;
}


.p1{
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--buttuon_text-color);
text-decoration: none;
}

.p2{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--grey-color);
    text-decoration: none;
    }


.a{
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
color: var(--black-color);
text-decoration: none;   
}

.a:hover{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--main-color);
    text-decoration: underline;   
    }
    

.a2{
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
color: var(--main-color);
text-decoration: none;
}
.a2:hover{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--main-color);
    text-decoration: underline;
    }
